*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

.flex{
    display: flex;
}

nav{
    padding: 20px;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    background-color: white;
}

nav a{
    text-decoration: none;
    color: darkgray;
    margin: 0px 30px;
    vertical-align: super;
}

.nav-button{
    padding: 8px 20px;
    border: none;
    vertical-align: super;
}

.white-button{
    background-color: white;
    color: darkgray
}

.blue-button{
    background-color: #0061FF;
    color: white;
    border: none;
}

.jumbotron-background{
    background-color: #97CCF8;
    margin-top: 72px;
}

.jumbotron-conteiner{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 95px;
}

.titolo{
    font-size: 90px;
    font-weight: bolder;
    margin-bottom: 65px;
}

.jumbotron-flex{
    display: flex;
}

.jumbotron-flex-1st{
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-basis: 75%;

}

.jumbotron-flex img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.jumbo-button{
    padding: 12px 18px;
    border: none;
    margin: 2rem 0px;
    font-size: 1.0rem;
}

.downarrow{
    font-size: 60px;
    margin-top: 60px;
}

.conteiner{
    margin: 150px auto;
    max-width: 920px;
}

.conteiner h1{
    font-weight: bolder;
}

.piano-titolo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.piano-titolo span{
    vertical-align: top;
}

.piano-titolo input[type=radio] {
    border-color: darkgray;
    border-radius: 10px;
    width: 3%;
    height: 1rem;
}

.colonna{
    border: 1px solid darkgray;
    margin: 45px 0px;
    width: 31%;
}

.piano-colonne{
    display: flex;
    justify-content: space-between;
}

.piano-colonna{
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.titoletto{
    width: 100%;
    border-bottom: 1px solid darkgray;
    text-align: center;
    padding: 0.6rem;
}

.titoletto h5{
    font-weight: normal;
}

.piano-colonna h4{
    margin-top: 50px;
}

.piano-colonna h5{
    margin: 15px 0px;
}

.piano-nomeprezzo span{
    color: darkgray;
    font-size: .9rem;

}

.colonna-lista{
    margin: 45px 0px;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    right: 10px;
}

.colonna-lista h5{
    margin-left: 20px;
    font-size: .9rem;
}

.colonna-lista-item{
    padding: .5rem;
    display: flex;
}

.colonna-lista-item i{
    margin-right: .3rem;
    position: relative;
    top: 2px;
}

.lista-button{
    padding: 1rem .7rem;
}

.acquistaora{
    margin: 30px 0px;
}

.tratto{
    background-color: darkgray;
    height: 1px;
    width: 20%;
}

.fa-check{
    color: #0061FF;
}

.piano-enterprise{
    border: 1px solid darkgray;
}

.enterprise{
    position: relative;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.enterprise .blue-button{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 1rem 2rem;
}

.enterprise h5{
    margin: 15px 0px;
}

.enterprise span{
    margin-top: 50px;
}

.conteiner-partner{
    width: 65%;
}

.conteiner-partner img{
    width: 100%;
    display: block;
}

.conteiner-partner-testo{
    width: 35%;
    padding: 3rem;
}

.conteiner-partner-testo span{
    display: block;
    margin: 1.2rem 0px;
}

.conteiner-partner-testo button{
    border: 1px solid black;
    padding: .8rem 1rem ;
    color: black;
    background-color: white;
    margin-top: .5rem;
    font-size: 1rem;
}

.operazioni-table{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.operazioni-item{
    width: 30%;
    margin-bottom: 1.5rem;
}

.operazioni-item img{
    width: 100%;
    display: block;
}

.operazioni-item span{
    display: block;
    margin: 2rem 0px; 
}

.utilizzano a{
    display: block;
    margin-top:4rem;
}

.conteiner-cubi{
    width: 100%;
    display: flex;
}

.cubi{
    width: 33.3%;
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
    align-items: flex-start;
}

.cubo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 1/1;
}

.gray-cube{
    width: 33.33%;
    background-color: lightgray;
    padding: 3%;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.gray-cube span{
    display: block;
    margin-bottom: 4rem;
}

.gray-cube .tratto{
    margin: 2.5rem 0px;
}

.gray-cube img{
    width: 50%;
    display: block;
}

.Designit{
    background-color: #B4DC19;
}

.cubo img{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    filter: invert(100%);
}

.asu{
    background-color: #9B0032;
}

.topps{
    background-color: #FA551E;
}

.florida{
    background-color: #14C8EB;
}

.relief{
    background-color: #9B0032;
}

.hearst{
    background-color: #B4C8E1;
}

.planet{
    background-color: #283750;
}

.clear{
    background-color: #FAD24B;
}

.blue-string{
    background-color: #97CCF8;
    padding: 140px 0px;
}

.conteiner-string{
    max-width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.conteiner-string button{
    border: none;
    padding: .7rem 3rem;
    color: black;
}

.conteiner-string h1{
    width: 45%;
    color: rgb(80, 0, 0);
}

.conteiner-domande{
    margin: 150px auto;
    max-width: 920px;
    border-bottom: 1px solid darkgray;
}

.conteiner-domande h1{
    margin-bottom: 4.5rem;
}

.domanda{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    border-top: 1px solid darkgray;
    flex-wrap: wrap;
}

.domanda:hover .coperto{
    display: block;
}

.domanda:hover .coperto a{
    display: inline-block;
    margin-top: 1rem;
}

.coperto{
    display: none;
    margin-top: 2.5rem;
}


.domanda h4{
    position: relative;
    left: -2.5rem;
}

footer{
    background-color: black;
}

.footer-conteiner{
    max-width: 1200px;
    margin: auto;
}

.footer-colonne{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.footer-colonna{
    color: white;
}

.footer-colonna h2{
    margin-bottom: 2rem;
}

.footer-colonna ul{
    list-style: none;
}

.footer-colonna li{
    margin-bottom: 1.1rem;
}

.footer-colonna a{
    text-decoration: none;
    color: white;
}

.white-tratto{
    background-color: white;
    height: 1px;
    width: 10%;
    margin-bottom: 3rem;
}

.language{
    color: darkgray;
    padding-bottom: 3rem;
}

.fa-caret-up{
    vertical-align: middle;
}