*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex{
    display: flex;
}

nav{
    padding: 20px;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    background-color: white;
}

nav a{
    text-decoration: none;
    color: darkgray;
    margin: 0px 30px;
    vertical-align: super;
}

.nav-button{
    padding: 8px 20px;
    border: none;
    vertical-align: super;
}

.white-button{
    background-color: white;
    color: darkgray
}

.blue-button{
    background-color: #0061FF;
    color: white;
    border: none;
}

.jumbotron-background{
    background-color: #97CCF8;
    margin-top: 72px;
}

.jumbotron-conteiner{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 95px;
}

.titolo{
    font-family: "Roboto";
    font-size: 90px;
    font-weight: bolder;
    margin-bottom: 65px;
}

.jumbotron-flex{
    display: flex;
}

.jumbotron-flex-1st{
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-basis: 75%;

}

.jumbotron-flex img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.jumbotron-flex span{
    font-family: "Roboto";
}

.jumbo-button{
    padding: 12px 18px;
    border: none;
    margin: 2rem 0px;
    font-size: 1.0rem;
}

.downarrow{
    font-size: 60px;
    margin-top: 60px;
}

.conteiner{
    margin: 150px auto;
    max-width: 920px;
}

main h1{
    font-family: "Roboto";
}

.piano-titolo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.piano-titolo span{
    font-family: "Roboto";
    vertical-align: top;
}

.piano-titolo input[type=radio] {
    border-color: darkgray;
    border-radius: 10px;
    width: 3%;
    height: 1rem;
}

.colonna{
    border: 1px solid darkgray;
    margin: 45px 0px;
    width: 31%;
    font-family: "Roboto";
}

.piano-colonne{
    display: flex;
    justify-content: space-between;
}

.piano-colonna{
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.titoletto{
    width: 100%;
    border-bottom: 1px solid darkgray;
    text-align: center;
    padding: 0.6rem;
}

.titoletto h5{
    font-weight: normal;
}

.piano-colonna h4{
    margin-top: 50px;
}

.piano-colonna h5{
    margin: 15px 0px;
}

.piano-nomeprezzo span{
    color: darkgray;
    font-size: .9rem;

}

.colonna-lista{
    margin: 45px 0px;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    right: 10px;
}

.colonna-lista h5{
    margin-left: 20px;
    font-size: .9rem;
}

.colonna-lista-item{
    padding: .5rem;
    display: flex;
}

.colonna-lista-item i{
    margin-right: .3rem;
    position: relative;
    top: 2px;
}

.lista-button{
    padding: 1rem .7rem;
}

.acquistaora{
    margin: 30px 0px;
}

.tratto{
    background-color: darkgray;
    height: 1px;
    width: 20%;
}

.fa-check{
    color: #0061FF;
}

.piano-enterprise{
    border: 1px solid darkgray;
}

.enterprise{
    position: relative;
    padding: 25px;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

.enterprise .blue-button{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 1rem 2rem;
}

.enterprise h5{
    margin: 15px 0px;
}

.enterprise span{
    margin-top: 50px;
}

.conteiner-partner{
    width: 65%;
}

.conteiner-partner img{
    width: 100%;
}

.conteiner-partner-testo{
    width: 35%;
    font-family: "Roboto";
    padding: 3rem;
}

.conteiner-partner-testo span{
    display: block;
    margin: 1.2rem 0px;
}

.conteiner-partner-testo button{
    border: 1px solid black;
    padding: .8rem 1rem ;
    color: black;
    background-color: white;
    margin-top: .5rem;
    font-size: 1rem;
}

.operazioni-table{
    display: flex;
    flex-wrap: wrap;
}